extends layout

block title
	title Strava Explorer

block body
	header 
		a(target='_blank' href='https://r42.ca')
			img(class='logo' src='/assets/images/logo-green.svg' alt='r42 communication')
	.showbox
		.content
			.r42 
				a(target='_blank' href='https://r42.ca')
					img(class='main-logo' src='/assets/images/logo-green.svg' alt='r42 communication')
			h1 Strava Explorer
			p.slogan A Free Connector 
				span for Google Data Studio
	.column
		h2 Take control of your strava data
		p Strava Explorer for Google Data Studio let’s you explore your Strava activity data weather you are using the pre-built report template or leverage your own Data Studio skills to create your custom views on your activities.

		p The current version has over 40 metrics, dimensions or calculated fields available that help you to gain more insight of your actvities.

		p And the best part: #[strong it is absolutely free].

		p
			img(class='main-logo' src='/assets/images/ui.png' alt='The Strava Explorer')

	.how-to
		.column
			h2 access your report
			p Google Data Studio is free to use. But because you will be the owner of your own report, you will need a Google account. Of course you will also need to log into your Strava account.

			p We will show you below how this works, but rest assured, the connector won’t store your Strava data. #[a(target='_blank' href='https://r42.ca/Data-Studio-Privacy-Policy') Refer to our privacy policy for more details.]

		.steps
			.row 
				.content Access the connector by clicking the link below.
					.button 
						a(href='https://datastudio.google.com/datasources/create?connectorId=AKfycbyWOEf16aZ8F3rephvvxkO1p0-U5yz-Dqt3Y44fE429t0v76Nu_djgAZJmkyt8piSWs4w') Get Strava Explorer
				.image
					img(class='main-logo' src='/assets/images/step-1.png' alt='The Strava Explorer')
			.row 
				.content Click on “Authorise” to allow #[strong Data Studio] to use this connector and follow the steps.
				.image
					img(class='main-logo' src='/assets/images/step-2.png' alt='Strava Explorer - step 2')
			.row 
				.content Click on “Authorise” to allow the connector to use your #[strong Strava] data.
				.image
					img(class='main-logo' src='/assets/images/step-3.png' alt='Strava Explorer - step 3')   
			.row 
				.content Click on “Connect”
				.image
					img(class='main-logo' src='/assets/images/step-4.png' alt='Strava Explorer - step 4')   
			.row 
				.content Turn on “Community Visualizations”.
				.image
					img(class='main-logo' src='/assets/images/step-5.png' alt='Strava Explorer - step 5')   
			.row 
				.content And finally create your report.
				.image
					img(class='main-logo' src='/assets/images/step-6.png' alt='Strava Explorer - step 6')

			.row
				.done
				.text
					h3 Done.
					p You are now ready to explore your activities and use Data Studio to extent the report.

	footer
		.copyright
			| &copy; 2019 r42 communication Inc.
		.social
			a.ft(target='_blank' href='https://twitter.com/ralph_spandl')
				img(src='/assets/images/twitter.svg' alt='Twitter')
			a.ft(target='_blank' href='https://www.linkedin.com/in/spandl/')
				img(src='/assets/images/linked-in.svg' alt='LinkedIn')
		ul.links        
			li
				a.ft(target='_blank' href='https://r42.ca/about')
					| about r42
			li
				a.ft(target='_blank' href='https://r42.ca/contact')
					| contact
			li
				a.ft(target='_blank' href='https://r42.ca')
					| home
