doctype html
head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, user-scalable=yes, initial-scale=1.0, minimum-scale=1.0")
  // META TAGS
  meta(name='robots' content='index, follow')
  link(rel='shortcut icon' href='https://strava-explorer.r42.ca/assets/favicon/favicon.ico')
  link(rel='apple-touch-icon' sizes='144x144' href='https://strava-explorer.r42.ca/assets/favicon/apple-touch-icon.png')
  link(rel='icon' type='image/png' href='https://strava-explorer.r42.ca/assets/favicon/favicon-16x16.png' sizes='16x16')
  link(rel='icon' type='image/png' href='https://strava-explorer.r42.ca/assets/favicon/favicon-32x32.png' sizes='32x32')
  link(rel='icon' type='image/png' href='https://strava-explorer.r42.ca/assets/favicon/android-chrome-192x192.png' sizes='192x192')
  link(rel='icon' type='image/png' href='https://strava-explorer.r42.ca/assets/favicon/android-chrome-512x512.png' sizes='512x512')
  meta(name='msapplication-TileColor' content='#b91d47')
  meta(name='msapplication-TileImage' content='https://strava-explorer.r42.ca/assets/favicon/mstile-150x150.png')
  meta(name='msapplication-config' content='/assets/images/favicon/browserconfig.xml')
  link(rel='mask-icon' href='https://strava-explorer.r42.ca/assets/favicon/safari-pinned-tab.svg' color='#5bbad5')
  meta(name='theme-color' content='#ee3a43')
  // Open Graph
  meta(property='og:type' content='website')
  meta(property='og:title' content='Strava Explorer: A Free Connector for Google Data Studio')
  meta(property='og:description' content='Enhance Google Data Studio or your website with capyivating data visualization')
  meta(property='og:image' content='https://r42.ca/assets/images/shareImage.jpg')
  meta(property='og:url' content='https://r42.ca')
  meta(property='og:site_name' content='r42 communication')
  meta(property='og:locale' content='en_CA')
  // TWITTER
  meta(name='twitter:title' content='r42: Visualization Design and Development')
  meta(name='twitter:description' content='Strava Explorer for Google Data Studio let’s you explore your Strava activity data weather you are using the pre-built report template or leverage your own Data Studio skills')
  meta(name='twitter:image' content='https://r42.ca/assets/images/shareImage.jpg')
  meta(name='twitter:card' content='Strava Explorer: A Free Connector for Google Data Studio')
  meta(name='twitter:site' content='@r_42')
  meta(name='twitter:creator' content='@ralph_spandl')


  // Google Tag Manager
  script.
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P3BP6NS');
  block title
body
    // Google Tag Manager (noscript)
    noscript
        iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-P3BP6NS' height='0' width='0' style='display:none;visibility:hidden')
    block body