extends layout

block title
	title Activity Explorer - Privacy Policy and Terms of Conditions

block body
	include includes/header.pug
	+showbox('Privacy Policy', 'and Terms of Conditions')
	.column
		
		p.intro This privacy policy and terms of service applies to the Activity Explorer, from now on refered to as 'this application' submitted by r42 communication as Google Data Studio Partner Connector.

		h2 Privacy Policy
		p This type of service allows you to view content hosted on external platforms directly from the pages of this Application and interact with them. This type of service might still collect web traffic data for the pages where the service is installed, even when Users do not use it.
		p Personal Data collected for the following purposes and using the following services:
		ol.pp
			li Registration and authentication
				span.bold Google OAuth
				span Personal Data: various types of Data as specified in the privacy policy of the Google service.
			li Displaying content from external platform
				span.bold Strava
				span The Strava API and integration is used for this application. 
				span #[a(target='_blank' href='https://www.strava.com/legal/privacy#aggregate_information') Refer to Strava Privacy Policy for details].

		h2 Terms of Service
		p.intro These terms govern your use of this application written and deployed by r42 communication. By accessing or using this application, you agree to become bound by these terms.

		p If you do not agree with any of the terms, please do not use this application. If we decide to change this policy, we will post those changes to this site. Please read this policy carefully.

		h3 Definitions
		p Throughout these Terms, “you” applies to both individuals and entities that access or use this application. If you are an individual using our services on behalf of an entity, you represent and warrant that you have the authority to bind that entity to the agreement and that by using our service(s), you are accepting the agreement on behalf of that entity.

		h3 Data Studio Community Visualizations and Connectors
		p Data Studio Community Visualizations and Connectors provide a way to create custom visualizations to augment the visualizations capability of Google Data Studio dashboards. Data Studio Community Connectors provide a way to to different datasources to import data into Google Data Studio. This application is provided free of charge and is not endorsed or controlled by Google’s Data Studio, nor are they part of services offered by Google Marketing Platform or r42 communication.

		h3 Disclaimer
		p This application is provided “AS IS”, without warranty of any kind, expressed or implied. They may not work for every data source. In no event shall the authors or copyright holders be liable for any claim, damagers, or liability, whether in an action of contract, tort, or otherwise, arising from, out of or in connection with the software or the use or other dealings in the software.

		h3 Governing Law
		p This application was created by r42 Communication from Montreal, Quebec and these terms shall be governed by the laws of Quebec and the applicable laws of Canada without reference to principles of conflict of laws. You agree to be bound by such laws and to submit to the jurisdiction of the courts of Quebec in connection with the interpretation or application of these terms.

		h3 Changes to Terms
		p r42 communication may modify, alter or otherwise update the terms applicable to this website from time to time without notice, and you agree to be bound by such terms as are in effect at the time at which you use any of these community visualizations.

		h3 User Submission
		p r42 will accept or consider unsolicited ideas. If you do submit such to us, we will consider any feedback, comment, information, suggestions, ideas or materials you submit through or in connection with this website (an "idea") non-confidential.

		p By providing such ideas to us, you hereby agree that we shall have, at no charge, a non-exclusive, transferable, royalty free, worldwide right and license to copy, use, make derivative words of, display and distribute any copyrights and other intellectual property rights in and to, or based upon, the ideas. We shall agree to use and/or disseminate such ideas on an unrestricted basis for any purpose. You acknowledge that you are responsible for the ideas that you provide, and that you, not r42 communication, have full responsibility for the ideas, including their legality and copyright.

		h2 Contact information
		p 
			a(target='_blank' href='https://r42.ca/contact') For contact information please refer to our contact page

	include includes/footer.pug
