footer
	.copyright
		| &copy; 2019 r42 communication Inc.
	.social
		a.ft(target='_blank' href='https://twitter.com/ralph_spandl')
			img(src='/assets/images/twitter.svg' alt='Twitter')
		a.ft(target='_blank' href='https://www.linkedin.com/in/spandl/')
			img(src='/assets/images/linked-in.svg' alt='LinkedIn')
	ul.links        
		li
			a.ft(target='_blank' href='https://r42.ca/about')
				| about r42
		li
			a.ft(target='_blank' href='https://r42.ca/contact')
				| contact
		li
			a.ft(target='_blank' href='https://r42.ca')
				| home