mixin showbox(slogan_1, slogan_2)
    .showbox
        .content
            .r42 
                a(target='_blank' href='https://r42.ca')
                    img(class='main-logo' src='/assets/images/logo-green.svg' alt='r42 communication')
            h1 Strava Explorer
            p.slogan= slogan_1  
                span= slogan_2