@import 'foundation/variables.scss';
@import 'showbox.scss';
@import 'body.scss'; 
@import 'footer.scss';
@import 'privacy.scss'; 

@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,700&display=swap');

@font-face {
    font-family: 'heavitasregular';
    src: url('/assets/fonts/heavitas-webfont.woff2') format('woff2'),
        url('/assets/fonts/heavitas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: $typeColorDark;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: white;
}

a {
    color: $typeLink;
    text-decoration: none;
}

/* Fixed header
	* --------------------------------------- */
header {
    position: fixed;
    height: 50px;
    display: block;
    width: 100%;
    z-index: 9;
    text-align: center;
    color: #f2f2f2;
    padding: 20px 0 0 0;

    .logo {
        position: absolute;
        top: 30px;
        left: 25px;
        width: 35px;
    }
}

header {
    top: 0px;
}

h1, h2 {
    font-family: 'heavitasregular';
}

h1 {
    font-size: 32px;
    line-height: 36px;
    color: $orange;
}

h2 {
    font-size: 24px;
    line-height: 36px;
    color: $orange;
    margin-top: 40px;
}

h3 {
    margin: 20px 0 5px;
}

p {
    font-size: 18px;
    line-height: 24px;
    margin: 5px 0 15px;
}

p.intro {
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1.75em;
}
