.column {
    max-width: 700px;
    margin: 120px auto 0;
    padding: 0 30px;

    img {
        width: 100%;
        margin: 20px 0;
    }
}

.steps {
    max-width: 900px;
    margin: 80px auto 0;
    padding: 0 30px;
    counter-reset: stepper;

    .button {
        font-family: 'heavitasregular';
        font-size: 0.95em;
        background-color: $green;
        border-radius: 5px;
        margin: 10px auto;
        padding: 5px 20px;
        display: inline-block;
        a {
            color: white;
        }
        
    }

    .row {
        margin: 100px 0;
        list-style: none;
        display: flex;
        flex-direction: row;

        @media (max-width: 700px) {
            flex-direction: column;
        }

        .content {
            counter-increment: stepper;
            width: 55%;
            text-align: center;
            padding: 0 30px 0;

            @media (max-width: 700px) {
                width: 100%;
                padding: 0;
            }

            &::before {
                content: counter(stepper);
                margin: 0 auto 30px;
                display: block;
                font-family: 'heavitasregular';
                font-size: 54px;
                color: white;
                text-align: center;
                background: $orange;                
                border-radius: 50%;
                --size: 100px;
                line-height: var(--size);
                width: var(--size);
                height: var(--size);
            }
        }

        .image {
            width: 45%;
            @media (max-width: 700px) {
                width: 100%;
                margin-top: 25px;
            }
            max-width: 400px;
            img {
                width: 100%;
            }
        }

        .done {
            width: 55%;
            padding: 0 0 0 40px;

            @media (max-width: 700px) {
                width: 100%;
                padding: 0;
            }
            
            &::before {
                content: "";
                margin: 0 auto;
                padding: 20px;
                display: block;
                text-align: center;
                background: $green;
                background: url('/assets/images/Done.svg') center center no-repeat;
                background-size: 80%;
                border-radius: 50%;
                --size: 120px;
                line-height: var(--size);
                width: var(--size);
                height: var(--size);
            }
        }
        .text {
            width: 45%;
            text-align: center;
            padding: 0 20px;

            @media (max-width: 700px) {
                width: 100%;
                padding: 0;
            }
        }
    }
}
