ol.pp {
    font-weight: 700;
    font-size: 1.2em;
    margin: 20px 0 60px;
    li {
        margin: 20px 0 40px;
    }

    span {
        font-size: 0.85em;
        display: block;
        font-weight: normal;
        line-height: 1.5em;

        &.bold {
            font-weight: 700;
        }
    }
}