.showbox {
    height: 750px;
    max-height: 100vh;
    background-image: url('/assets/images/showbox-bg.svg');
    background-image: url('/assets/images/showbox-bg.svg'), linear-gradient(180deg, #495E64 0%, #1C2D30 100%); 
    background-position: center top;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    .content {
        // position: absolute;
        // bottom: 20px;
        margin: 0 auto 70px;
        width: 100%;
        h1 {            
            text-align: center;
        }

        .r42 {
            text-align: center;
            margin-bottom: 50px;
            img {
                width: 70px;
            }
        }

        p {
            text-align: center;
            span {
                display: block;
            }
            img {
                margin-top: 20px;
            }
        }
    }
}
